# torch==1.13.1
numpy==1.23.0
mujoco-py
tensorboard==2.3.0
gym 
opencv-python 
h5py 
pyquaternion 
pyyaml 
matplotlib 
hydra-core 
einops 
numpy
# ??
imageio 
Cython 
wandb 
pycparser
scipy 
learn2learn
pybullet==2.6.9
pygame
open3d
imageio[ffmpeg]
imageio[pyav]